body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.container {
  width: 375px; /* iPhone 11 width */
  height: 812px; /* iPhone 11 height */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search-bar {
  width: 80%;
  padding: 10px;
  border: 2px solid darkblue;
  background-color: black;
  color: white;
}

.search-button {
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button:hover {
  opacity: 0.8;
}

.search-results {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.search-tags {
  margin-top: 20px;
  color: white;
}